.ticket-view{
    background: #fff;
    margin-top: 5%;
    padding: 15px 20px;
    width: 80%;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1),-1px -1px 1px 1px rgba(0,0,0,0.1);
    margin: 0 auto;
}
.details .info ,.form{
    display: grid;
    grid-template-columns: 25% 75%;
    padding: 5px;
    border-bottom: 1px solid #ccc;
}
.btns{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
h3{
    /* font-weight: normal; */
    font-size: 16px;
}