<section>
    <div class="tabs">
        <button class="tab-btn"  onclick="openTab(event, 'done')"> 
        طلب استعارة</button>
        <button class="tab-btn" onclick="openTab(event, 'undone')">الدعم الفني</button>
    </div>
    <!-- borrow -->
    <div  id="done" class="content"> 
        <h2 class="title">ادخل البيانات</h2>
        <form>
            <input type="text" placeholder="صنف الجهاز">
            <input type="text" placeholder="الجهاز/الاداة">
            <input type="text" placeholder="(المدة(ساعة/يوم">
            <textarea placeholder="…السبب"></textarea>
            <button class="tab-btn">تقديم</button>
    </form>
    </div>
    <!-- tech.support -->
    <div id="undone" class="content">
            <h2 class="title">ادخل البيانات</h2>
            <form>
                <input type="text" placeholder="الجهاز/الاداة">
                <input type="text" placeholder="نوع المشكلة">
                <input type="text" placeholder="(المدة(ساعة/يوم">
                <textarea placeholder="…السبب"></textarea>
                <input type="text" placeholder="(الاولوية(منخفضة,متوسطة,عالية">
                <button class="tab-btn">تقديم</button>
        </form>
    </div>
</section>