<section>

<div class="Container">
    <div class="cogs">
    <i class="fas fa-cog fa-8x one"></i>
    <i class="fas fa-cog fa-7x two"></i>
       <i class="fas fa-cog fa-5x three"></i>
    </div>
    <h1 class="MainTitle">
        {{statusCode}}
    </h1>
    <p class="Main Description">
      {{errorMsg}}
    </p>   
</div>
</section>