<div class="logo">
  <img src="../img/logo.svg" alt="Qattan Logo">
</div>
<div class="form">
  <label for="name" class="person">
    <input type="text" placeholder="اسم الموظف" class="name"  name="name">
</label>

  <label for="password" class="lock">
<input type="password" placeholder="كلمة المرور" class="password" name ="password">
</label>
<p class="errMsg"></p>
  <button type="submit" class="signButton">تسجيل الدخول</button>
</div>
