<header>
    <nav>
        <div class="logo">
            <a href="/employee-home"><img src="http://qattanfoundation.org/sites/all/themes/qf/logo.svg" alt="الرئيسية" alt="logo" class="logo-img"></a>
        </div>
        <div class="icon" onclick="move(this), show()">
            <div class="hamburger">
            </div>
        </div>
        <div class="overlay">
            <div class="overlay-content">
                <a href="/employee-home">الرئيسية</a>
                <a href="/add-ticket">تذكرة جديدة</a>
                <a href="/logout">تسجيل خروج</a>
            </div>
        </div>
    </nav> 
</header>
