 <header>
   <nav>
        <div class="logo">
            <img src="./img/logo.svg" alt="logo" class="logo-img">
        </div>
        <div class="icon" onclick="move(this), show()">
            <div class="hamburger">
            </div>
        </div>
        <div class="overlay">
        <div class="overlay-content">
            <a href="#">الرئيسية</a>
            <a href="#">تذكرة جديدة</a>
            <a href="#">تسجيل خروج</a>
        </div>
        </div>
    </nav> 
    </header>