<header>
    <a class="logo" href="/"><img src="http://qattanfoundation.org/sites/all/themes/qf/logo.svg" alt="الرئيسية"></a>
    <div class="title">
        <h1>واجهة الدعم الفني</h1>
        <p>موظفي مؤسسة القطان</p>
    </div>
</header>
