<div class="sidebar">
    <div class="top-info"> 
        <span class="fas fa-user fa-5x"></span> 
        <p ID="username" class="name">اصالة</p>
        <p>مرحبا بك</p>
        <button ID="signout" class="btn">خروج</button>
    </div>
    <ul class="mainul">
        <li class="mainli"><a class="manage-item" href="#"> <i class="fas fa-home"></i>الرئيسية</a></li>
        <li class="mainli"><a class="manage-item" href="#"> <i class="fas fa-boxes"></i>اﻷجهزة/ المعدات</a></li>                      
        <li class="mainli"><a class="manage-item" href="#"> <i class="fas fa-users"></i>الدعم الفني</a></li>                   
        <li class="mainli"><a class="manage-item" href="#"> <i class="fas fa-boxes"></i>اﻹستعارة</a></li>                    
        <li class="mainli"><a class="manage-item" href="#"><i class="fas fa-file"></i>التقارير</a></li>
        <li class="mainli"><a class="manage-item" href="#"><i class="fas fa-sign-out-alt"></i>خروج</a></li>
    </ul>
</div>